div
  h1= title
  h2 Client Credentials
  p Keep this information safe.  It is not recoverable
  ul
    li
      h3 Application Url:
      p= app_url
    li
      h3 Client Id:
      p= client_id
    li
      h3 Public Key:
      p= client_public
    li
      h3 Private Key:
      p= client_private